.BlankPageComponent {
  .buttonLink {
    float: right;
    margin-right: 10%;
    margin-bottom: 20px;
    width: 246px;
    height: 41px;
    border-radius: 18px;
    background-color: #ff6600;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
  }
}
