$small: 400px;
.conceptButton {
    width: 114px;
    height: 36px;
    border-radius: 18px;
    background-color: #f5a623;
    color: #ffffff;
    line-height: 1.36;
    font-weight: 600;
    font-size: 14px;
}

.actiefButton {
    width: 114px;
    height: 36px;
    border-radius: 18px;
    background-color: #7ed321;
    color: #ffffff;
    line-height: 1.36;
    font-weight: 600;
    font-size: 14px;
}

.afgehandeldButton {
    width: 134px;
    height: 36px;
    border-radius: 18px;
    background-color: #e3f2fd;
    color: #0090e3;
    font-weight: 600;
    font-size: 14px;
}

.seeButton {
    background-color: #0090e3 !important;
    color: #ffffff !important;
}

.vidgetButton {
    width: 168px;
    height: 41px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 14px;
    @media screen and (max-width: $small) {
        width: 120px;
        font-size: 12px;

    }
}

.floatRight {
    float: right;
}
