$small: 400px;
$medium:500px;
$large:750px;
.conceptButton {
    width: 114px;
    height: 36px;
    border-radius: 18px;
    background-color: #f5a623 !important;
    color: #ffffff;
    line-height: 1.36;
    font-weight: 600;
    font-size: 14px;
}

.actiefButton {
    width: 114px;
    height: 36px;
    border-radius: 18px;
    background-color: #7ed321 !important;
    color: #ffffff;
    line-height: 1.36;
    font-weight: 600;
    font-size: 14px;
}

.afgehandeldButton {
    width: 134px;
    height: 36px;
    border-radius: 18px;
    background-color: #e3f2fd !important;
    color: #0090e3;
    font-weight: 600;
    font-size: 14px;
}

.seeButton {
    background-color: #0090e3 !important;
    color: #ffffff !important;
}

.vidgetButton {
    width: 168px;
    height: 41px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 14px;
    @media screen and (max-width: $medium) {
        font-size: 12px !important;
        width: 100px;
    }
    @media screen and (max-width: $small) {

    }

}

.goToLink{
    margin-left: 25% !important;
    @media screen and (max-width: $medium) {
        margin-left: 35% !important;
        font-size: 12px !important;
        width: 168px !important;
    }
    @media screen and (max-width: $small) {
        margin-left: -15px !important;

    }

}

.floatRight {
    float: right;
}
